# Insira suas keys e renomeie o arquivo para .env
TELEGRAM_API_KEY = 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX' 
MY_CHAT_ID = [XXXXXXXXXXX,XXXXXXXXXXXX]
OPENAI_API_KEY = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"